{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adais</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'adais/ad-custom2.css' %}">

</head>

<body>
   <h2>Thank you for Registering</h2>   <p><a
 href="/adais/login/">Please Login</a></p>
</body>

</html>