<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/ad-custom.css">

      <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="row">
      <div class="ad-nav-bar col-md-2">
          <img src="Media/infiniteloop.png" class="img-fluid center-block" style="margin-top: 0px; height: 85px" >
          <div class="list-group table-of-contents">
            <a class="list-group-item" href="practice.html">Home</a>
            <a class="list-group-item" href="GetStarted.html">Getting Started</a>
            <a class="list-group-item" href="#Product">Products</a>
            <a class="list-group-item" href="#Routine">Routines</a>
            <a class="list-group-item" href="#Recipe">Recipes</a>

          </div>        
      </div><!--end side column-->
      <div class="col-md-10 ad-main-header-col">
        <div>
          <h1>Getting Started</h1>
          <p class="ad-header-des"> heres how to start with Adais</p>
        </div>
      
       </div>
       <div class="col-md-10 ad-main-col">
          <p> stuffffffff  </p>
        </div>
    </div>


  </body>
</html>